<nav class="toolbar-container">
  <ul>
    <li><strong>BANDBASE</strong></li>
  </ul>
  <ul>
    <li id="toolbar-logged-out">
      <a href="/auth">sign in</a>
    </li>
    <div id="toolbar-logged-in" style="display: none;">
      <li><span>Welcome, <strong id="toolbar-user-email"></strong></span></li>
      <li>
      <details class="dropdown">
        <summary>
          Account
        </summary>
        <ul dir="rtl">
          <li><a href="#">Sales</a></li>
          <li><a href="#">Store List</a></li>
          <li><a href="#">Account Settings</a></li>
          <li style="border-top: 1px solid #ddd;"><a id="logout-button" href="#">Logout</a></li>
        </ul>
      </details>
    </li>
    </div>
  </ul>
</nav>