<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login | Etsy for Bands</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Login or Sign Up</h1>

  <div id="auth-container">
    <div id="login-form">...</div>
    <div id="user-status" style="display: none;">...</div>
  </div>
  
  <script>
    window.SUPABASE_CONFIG = {
      url: "<%= supabaseUrl %>",
      key: "<%= supabaseAnonKey %>"
    };
  </script>

  <script type="module" src="/js/auth.js"></script>
</body>
</html>