<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bandbase - Home</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="icon" href="./img/favicon.svg">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/f39d/proto/css/proto_layout.min.css" />
</head>
<body>
<div class="container grid" 
     style="--grid-cols: 1fr;
            --grid-rows: 60px 1fr 60px;
            --grid-areas: 
              'top' 
              'center'
              'bottom';
            --grid-gap: 8px;
            min-height:100dvh;">

  <div class="top">
    <%- include('partials/_toolbar'); %>
  </div>
  <div class="center df df-col jc-c ai-c">
    

    <div id="auth-container" class="" style="width:clamp(320px,40vw,600px)">
      <h1>Login or Sign Up</h1>
      <form id="login-form">
        <p>Enter your email to receive a automatic sign in link.</p>
        <!-- <label for="email-input">Email:</label> -->
        <input type="email" id="email-input" placeholder="your@email.com" required />
        <button type="submit">Send Magic Link</button>
      </form>
      <div id="user-status" style="display: none;">
        <p>You are logged in as: <strong id="user-email"></strong></p>
        <button id="logout-button">Logout</button>
      </div>
    </div>
  </div>
  <div class="bottom">legal</div>
    
</div>
  
<script>
window.SUPABASE_CONFIG = {
  url: "<%= supabaseUrl %>",
  key: "<%= supabaseAnonKey %>"
};
</script>
<script type="module" src="/js/global.js"></script>
<script type="module" src="/js/auth.js"></script>
</body>
</html>